#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/patchsys-quilt.mk

BUILD_ROOT=$(DESTDIR)/$(CURDIR)/debian/$(cdbs_curpkg)
LIBDIR=$(shell /usr/bin/ruby -rrbconfig -e 'puts RbConfig::CONFIG["vendordir"]')
BIN_DIR=$(shell /usr/bin/ruby -rrbconfig -e 'puts RbConfig::CONFIG["bindir"]')
RUBYLIB=$(BUILD_ROOT)/$(LIBDIR)
RUBYBIN=$(BUILD_ROOT)/$(BIN_DIR)
DOC_DIR=$(BUILD_ROOT)/usr/share/doc/hiera/
DATA_DIR=$(BUILD_ROOT)/var/lib/hiera

install/hiera::
	mkdir -p $(RUBYLIB)
	mkdir -p $(RUBYBIN)
	mkdir -p $(DOC_DIR)
	mkdir -p $(DATA_DIR)
	mkdir -p $(BUILD_ROOT)/etc
	cp -pr  lib/hiera $(RUBYLIB)
	cp -p lib/hiera.rb $(RUBYLIB)
	cp -p  bin/* $(RUBYBIN)
	cp -pr ext/hiera.yaml $(BUILD_ROOT)/etc
	cp -p COPYING README.md $(DOC_DIR)

clean::
